/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.navbar a {
color: white;
}

.img-thumbnail {
border-radius: 50%;
img {
    border-radius: 50%;
    }
}

.card-header-text {
    font-size: 1.5rem;
    font-weight: 100px;
}

.alert:not(:last-child){
margin-bottom: 0;
border-radius: 0;
}

.navbar{
    margin-bottom: 3rem;
}

.nav-item {
    margin-left: 1rem;
}

.nav-icon {
    margin-right: 20px;
}

.is-48x48{
    width: 48px;
    height: 48px;
}

.is-64x64{
    width: 64px;
    height: 64px;
}

.media figure{
    margin: 0px 1rem 0px 0px;
}

.stats-heading {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: #6c757d;
    font-weight: bold;
}