<div class="box has-background-light">
    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <h3 class="heading">First Name</h3>
                <p class="subtitle"><%= passenger.first_name %></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <h3 class="heading">Last Name</h3>
                <p class="subtitle"><%= passenger.last_name %></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <h3 class="heading">Email</h3>
                <p class="subtitle"><%= passenger.email %></p>
            </div>
        </div>
    </div>
</div>