.site-header {
  width: 100%;
  background-color: rgb(53, 53, 61);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  font-weight: 300;
}

body {
  background-color: rgb(230, 231, 233);
  height: 100%;
}

h1, a  {
  color: white;
  text-decoration: none;
}

#resume-width {
  margin: auto;
  margin: 3rem auto;
  width: 80%;
}

/* Resume begins off with a 1 */
#resume-dimensions {
  position: relative;
  width: 100%;
  padding-bottom: 141%;
}

/* Resume  */
#resume-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#resume {
  border-radius: 1%;
  overflow: hidden;
  min-height: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  font-size: 1vw;
}

.bottom-padding {
  height: 100px;
}

.left {
  width: 30%;
  color: white;
}

.right {
  width: 70%;
}

.btn {
  font-family: inherit;
  outline: none;
  border: none;
  padding: 0.2em 0.5em;
  border-radius: 1px;
  font-size: 1em;
}

.btn-primary {
  background-color: rgb(238, 238, 238);  
}

.btn-primary:hover {
  background-color: white;
}

.btn-secondary {
  background: rgb(44, 44, 63);  
  color: white;
}

.btn-secondary:hover {
  background-color: rgb(62, 62, 82);
}

.delete-btn {
  background-color: rgb(238, 68, 68);
  color: rgba(255, 255, 255, 0.9);
}

.delete-btn:hover {
  background-color: rgb(248, 60, 60);
}

@media (min-width: 1000px) {
  #resume-width {
    width: 50%;
  }

  #resume {
    font-size: 0.625vw;
  }
}