doctype html
html
  head
    title Message Board
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.bg-gray-800
      div.container.mx-auto.relative.flex.items-center.justify-between.h-16
        a(href="/")
          h1(class="text-white text-xl hover:text-gray-300") MessageBoard
    block content


