<div class="col-3">
    <nav class="card">
        <div class="card-header">Trending</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action">Trend 1</li>
            <li class="list-group-item list-group-item-action">Trend 2</li>
            <li class="list-group-item list-group-item-action">Trend 3</li>
            <li class="list-group-item list-group-item-action">Trend 4</li>
            <li class="list-group-item list-group-item-action">Trend 5</li>

        </ul>
    </nav>
</div>