<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <h1>Edit Tweet</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <%= render 'form', tweet: @tweet %>
            <br />
            <%= link_to 'Back', tweets_path %>
        </div>
    </div>
</div>


