.editable-field * {
  font-size: inherit;
  display: block;
  width: 100%;
  background-color: transparent;
  color: inherit;
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: 0px;
  padding: 0.2em 0.1em;
}

.editable-field .input-value, .editable-field input {
  height: 1.4em;
  overflow: hidden;
  white-space: nowrap;
}

.editable-field .textarea-value, .editable-field  textarea {
  line-height: 1.4;
  resize: none;
}


.editable-field textarea, .editable-field  input { 
  outline: 1px solid white !important;
  font-family: inherit;
  line-height: 1.2;
}

.editable-field div {
  word-wrap: break-word;
}

